<nav class="mainNav">
  <h2><a href="/index.html">HOME</a></h2>
  <section>
      {% assign site_nav = collections.class | sortByPageOrder %}
      {% for item in site_nav %}
      <a href="{{ item.url }}">
        <div class="classButton" {% if page.url == item.url %} aria-current="page" {% endif %}>
          <h3>{{ item.data.class }}</h3>
          <p>{{ item.data.startTime }}-{{ item.data.endTime }}</p>
          <p>{{ item.data.location }}</p>
        </div></a>
      {% endfor %}
  </section>
  <h2>PROFILE</h2>
</nav>
