<nav class="mainNav">
  <h2><a href="/index.html">HOME</a></h2>
  <section>
    {% assign site_nav = collections.siteNav | sortByPageOrder %} {% for item in
    site_nav %}
    <a href="{{ item.url }}">
      <div class="classButton" style="background-color: #{{ item.data.color}}">
        <!-- {% if page.data.title == item.data.title %} aria-current="page" {% endif %} -->

        <h3>{{ item.data.class }}</h3>
        <p>{{ item.data.startTime }}-{{ item.data.endTime }}</p>
        <p>{{ item.data.location }}</p>
      </div></a
    >
    {% endfor %}
  </section>
  <h2><a href="/profile">PROFILE</a></h2>
</nav>
