@import "partials/reset", "partials/base", "partials/fonts.scss",
  "partials/footer.scss", "partials/content.scss", "partials/homeContent.scss",
  "partials/mainNav.scss", "partials/variables.scss", "partials/404.scss";
