body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
  }
}

// @media screen and (max-width: 550px) {
//   .container {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .container .mainNav {
//     display: none;
//   }

//   .homeContent {
//     flex-wrap: wrap;

//     .midContent {
//       width: 100%;
//     }

//     .rightContent {
//       width: 100%;
//     }
//   }
// }
