body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
}

.mainNav {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  background-color: black;
  color: white;
  grid-column: 1 / 2;
  position: fixed;
  width: 200px;

  a {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin: 20px;
  }

  a .classButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #fff;

    h3 {
      margin: 5px 0;
    }

    p {
      margin: 5px 0;
    }
  }

  .classButton:hover {
    color: blue;
    border: 1px solid blue;
  }

  h2 a:hover {
    color: blue;
  }

  [aria-current] {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
  }
}

.content {
  // margin-left: 15%;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 20px;
  grid-column: 2 / 3;

  header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;

    h2 {
      font-family: "PangramSansRounded";
      font-weight: 500;
      font-size: 32px;
      margin: 20px;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      margin: 10px;
      font-family: "PangramSansRounded";
      font-weight: 500;
      font-size: 16px;
      padding: 10px;
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 5px;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    [aria-current] {
      background-color: #000;
      border: 2px solid #000;

      a {
        color: #fff;
      }
    }
  }
}

.pageHead {
  display: flex;
  justify-content: space-between;

  h1 {
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 48px;
    margin: 20px 20px 0 20px;
  }
}

.pageItem {
  padding: 10px;
  font-family: "PangramSansRounded";
  font-weight: 500;
  font-size: 16px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 5px;

  h4 {
    margin: 5px;
  }

  p {
    margin: 5px 5px 5px 20px;
  }
}

.arrow {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  align-self: center;
  margin-right: 10px;
}

.wholeCalendar {
  margin: 20px;
  border: 1px solid #000;

  li {
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekdays {
  li {
    border: 0.25px solid #000;
    padding: 5px;
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
  }
}

.days {
  li {
    padding: 5px;
    border: 0.25px solid #000;
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 16px;
    height: 100px;
  }
}
