.content {
  background-color: #fffdfa;
  background-image: url(/assets/svg/grid.svg);
  grid-column: 2 / 3;
  min-height: 100vh;
  width: 100%;
}

header {
  background-color: var(--class-color);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;

  h2 {
    font-family: var(--header-font), Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    align-self: center;
    margin: 20px;
  }
}

.contentContainer {
  min-height: 80vh;
}

.pageHead {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  h1 {
    font-family: var(--header-font), Helvetica, sans-serif;
    font-size: 60px;
    margin: 20px 20px 0 20px;
  }
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.pageItem {
  background-color: var(--content-bg-color);
  border: 2px solid var(--content-text-color);
  border-radius: 5px;
  display: flex;
  font-family: var(--body-font), Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;

  .grade {
    align-self: center;
    font-size: 24px;
    font-weight: 400;
  }

  h4 {
    font-weight: 400;
    margin: 5px;
  }

  p {
    line-height: 22px;
    margin: 5px 5px 5px 20px;
    overflow: hidden;
    font-weight: 200;
  }
}

.hidden {
  display: none;
}

.arrow {
  align-self: flex-start;
  animation-name: rotate2;
  animation-duration: 0.5s;
  border: 2px solid var(--content-text-color);
  border-radius: 30px;
  height: 30px;
  transform: rotate(0deg);
  width: 30px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.arrowUp {
  animation-name: rotate;
  animation-duration: 0.5s;
  transform: rotate(180deg);
}

@media screen and (max-width: 1100px) {
  .content header {
    h2 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 800px) {
  .content header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;

    h2 {
      margin: 5px 20px;
      width: 400px;
      text-align: center;
    }
  }

  .pageHead {
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      font-size: 40px;
      text-align: center;
      margin: 10px 10px 0 10px;
    }
  }
}
