footer {
  background-color: var(--content-bg-color);
  border-top: 2px solid var(--content-text-color);

  ul {
    display: flex;
    padding: 10vh 20px 20px 20px;
    justify-content: space-between;
  }

  li {
    font-family: var(--body-font), Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  footer ul {
    display: block;
    padding: 20px;
    text-align: center;

    li {
      margin: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  footer ul {
    li {
      font-size: 12px;
    }
  }
}
