footer {
  background-color: var(--content-bg-color);

  ul {
    display: flex;
    padding: 20vh 20px 20px 20px;
    justify-content: space-between;
  }

  li {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 16px;
  }
}
