footer {
  ul {
    display: flex;
    margin: 20vh 20px 20px 20px;
    justify-content: space-between;
  }

  li {
    // margin: 100px 20px 100px 20px;
    font-family: "PangramSansRounded";
    font-weight: 500;
    font-size: 16px;
  }
}
